@{
    ViewBag.Title = "Movies | Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bodycontent">
    <h2>Movies Website Demo</h2>
    <hr />
    <p>You can login and explore Movies WebApp.</p>
</div>
